@import "./_navbar.scss";
@import "./_checkmark.scss";

body {
  background-color: "white";
}

.invalid-tooltip {
  top: unset !important;
  left: unset !important;
}

.custom-form {
  max-width: 576px;
  margin: auto !important;
  display: block;
  margin-top: "4rem";
}

button {
  &:focus {
    outline: 0 !important;
  }
}
